body {
    text-align: center;
    margin: 0;
    font-family: helvetica neue;
}

#intro h1 {
    margin-top:2.5%;
    font-family:  "Arial";
    font-weight: 100;
    margin-bottom: 0%;
    color: #2F3080;
}

h1 {
    font-family:  "Arial", "Gill Sans";
    font-weight: 100;
    margin-bottom: -4%;
    color: #2F3080;
}

#logo {
    height: auto;
    width: auto;
    max-width: 220px;
    max-height: 220px; 
    margin-top: 10px;
    margin-left: 10px;
}

#resultLogo {
     height: auto;
    width: auto;
    max-width: 220px;
    max-height: 220px; 
    margin-top: 5%;
    margin-left: 25px;
}

h3 {
    width: 35%;
    margin: auto;
    font-family:  "Segoe UI Light", "Gill Sans Light", "Arial";
    font-weight: 8;
    font-size: 19px;
    color: #6A6BCE;
}

#queryObject {
    font-size: 25px;
    color: #2F3080;
    font-family: "Arial", "Gill Sans";
}

#header {
    height: 5.0%;
    background-color: #3E3f9A;
    color: #FFFFFF;
}

#intro {
   /* border-left: 15px solid #FFEF48; */
}

#search {
    margin-top: 5%;
}

#results {
 margin-left: -70%;
 margin-right: auto;
 margin-top: 2%;
}

#input {
    border-left: 15px solid #3E3F9A;
}

#query {
    width: 50%;
    height: 40px;
    text-align: center;
    /*border-radius: 5px;*/
}

#button {
    margin-top:2.5%;
    color: #FFFFFF;
    width: 80px;
    height: 40px;
    font-size: 150%;
}

#button {
    border:1px solid #8a66f4; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #8e6af5; background-image: -webkit-gradient(linear, left top, left bottom, from(#8e6af5), to(#6d47e7));
    background-image: -webkit-linear-gradient(top, #8e6af5, #6d47e7);
    background-image: -moz-linear-gradient(top, #8e6af5, #6d47e7);
    background-image: -ms-linear-gradient(top, #8e6af5, #6d47e7);
    background-image: -o-linear-gradient(top, #8e6af5, #6d47e7);
    background-image: linear-gradient(to bottom, #8e6af5, #6d47e7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b29af8, endColorstr=#6d47e7);
}

#button:hover {
    border:1px solid #693bf1;
    background-color: #7E0FFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#7E0FFF), to(#9174ed));
    background-image: -webkit-linear-gradient(top, #7E0FFF, #9174ed);
    background-image: -moz-linear-gradient(top, #7E0FFF, #9174ed);
    background-image: -ms-linear-gradient(top, #7E0FFF, #9174ed);
    background-image: -o-linear-gradient(top, #7E0FFF, #9174ed);
    background-image: linear-gradient(to bottom, #7E0FFF, #9174ed);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7E0FFF, endColorstr=#9174ed);
}

#tweetA {
    float: right;
    margin-right: 55%;
    margin-left: auto;
    margin-top: 4%;
    background-color: gray;
    height: 150px;
    width: 450px;
    border-radius: 20px;
}

#tweetB {
    float: right;
    margin-right: 20%;
    margin-left: auto;
    margin-top: -8.75%;
    background-color: gray;
    height: 150px;
    width: 450px;
    border-radius: 20px;
}

#feelings {
    text-align: center;
}

#twitter {
    border-left: 15px solid #55ACEE;
    margin-bottom:  5%;
    margin-top: 2%;
}

#bing {
    border-left: 15px solid #FEBA08;
    margin-bottom: 2%
}
